<h1>All Tags</h1>

<table style="width:100%">
  <% @tags.each do |tag| %>
  <tr id="tag">
    <th>
      <%= link_to tag.name, tag_path(tag), class: 'tag_name' %>
    </th>
  </tr>
  <% end %>
</table>
